<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Aperçu général inventaires Valforêt</title>
    <link rel="stylesheet" href="{{ static_prefix }}{% static 'leaflet/leaflet.css' %}">
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/proj4-2.4.3.js' %}"></script>
    <script src="{% static 'js/proj4leaflet-1.0.1.js' %}"></script>
    <script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
    <script src="{% static 'js/overview.js' %}"></script>
    <style> html, body, #map-container, #map-div { margin:0; height: 100%; }</style>
  </head>

  <body>
    <div id="map-container">
        <div id="map-div">map</div>
    </div>
  </body>
</html>
